@import "tailwindcss";

/* Inter Font Google se load */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Global Inter font apply */
@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}


/* in your global CSS (e.g., index.css) */
::-webkit-scrollbar {
  width: 12px;
  /* width of the scrollbar */
  height: 12px;
  /* horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* track background */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fdc700;
  /* theme color */
  border-radius: 8px;
  border: 3px solid #f1f1f1;
  /* creates padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fdc700;
  /* slightly darker on hover */
}