@import "tailwindcss";

/* Inter Font Google se load */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Global Inter font apply */
@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
}